.header-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.header-logo {
    height: 61px;
    display: flex;
    justify-content: space-between
}

.header-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    transition: all .3s ease-in-out;
}

.header-name {
    height: 100%;
    margin: 0 0 0 12px;
    font-size: 24px;
    align-items: center;
}

.logo {
    height: 100%;
}

